<header class="main">
    <div class="logo">
        <a href="/" class="noicon"><img src="/assets/images/okviz-h.svg" alt="OKVIZ"></a> 
        <div class="title">Docs</div>
    </div>

    <div class="search">
        <div class="search-results hidden"></div>
        <div class="icon-search"></div>
        <input type="text" placeholder="Search">

        
    </div>

    <div class="controls">
        <a href="{% if page.url == "/todo.html" %}/{% else %}/todo{% endif %}" class="solo todo"><span class="ctrl icon-flag{% if page.url == "/todo.html" %} active{% endif %}"></span></a>

        <a href="#" class="solo change-theme"><span class="ctrl icon-theme-auto"></span></a>
    </div>
    <div class="gotoweb">
        <a href="https://okviz.com" class="solo">OKVIZ.com</a>
    </div>
</header>