<nav>
    <ul>
        <li class="l0{% if page.url == "/" %} current{% endif %}"><a href="/" class="tree-link">Docs</a></li>

        {% assign roots = "General,Smart Filter Pro" | split: "," %}
        {% for root in roots %}
            {% assign slug = root | slugify %}
            {% assign root_url = "/" | append: slug | append: "/" %}
            {% assign root_url_index = root_url | append: "index" %}

            <li class="l0{% if page.url == root_url or page.url == root_url_index %} current{% endif %}{% if page.url contains root_url %} expanded{% endif %}">
                <a href="#" class="tree-toggle"><span class="icon"></span></a>
                <a href="{{ root_url }}" class="tree-link">{{ root }}</a>
                <ul>
                    {% assign sorted_pages = site.docs| sort: "order" %}
                    {% for _page in sorted_pages %}
                        {% if _page.url contains root_url %}
                            {% unless _page.id contains "/index" %}
                            <li class="l1{% if page.url == _page.url %} current{% endif %}" >
                                <a href="{{ _page.url }}" class="tree-link">{% if _page.menu_title %}{{ _page.menu_title }}{% else %}{{ _page.title }}{% endif %}</a>
                            </li>
                            {% endunless %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>

        {% endfor %}
    </ul>

</nav>