// Put your theme colors here

// Light colors
@mixin my-light-colors {

    --accent-color: #0083fa;
    --accent-hover-color: #036ccf;
    --accent-back-color: #cfe8ff;
    --accent-hover-back-color: #bcdefe;
    --accent-border-color: #036ccf;
    --accent-contrast-color: #fff;

}

// Dark colors
@mixin my-dark-colors {

    --accent-color: #0083fa;
    --accent-hover-color: #036ccf;
    --accent-back-color: #cfe8ff;
    --accent-hover-back-color: #bcdefe;
    --accent-border-color: #036ccf;
    --accent-contrast-color: #fff;

}